#user-choices{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  padding: 20px;
  margin: 20px auto;

  h3{
    padding: 10px 0;
    color: #333;
  }
  p{
    padding: 10px 0;
    color: #333

    
  }
  span{
    color: #0496FF;
  }
}