#error{
  float: right;
  background-color: rgb(206, 108, 108);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  padding: 20px;
  margin: 20px;

  p{
    padding: 10px 0;
    color: #fff
  }
}